

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink=".." class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a (click)="updateFaq()" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold">
      Frequently Asked Question
    </a>
  </div>
</nav>

<div class="showcase-faq">
  <div class="container-box-faq">
    <div class="scrollBody scroll-body">
<div class="container move-faq">
  <form>
    <div class="form-group">

      <label for="faq-question" class="header-faq">Question</label>
      <input [(ngModel)]="faq.question" type="text" class="form-control" id="faq-question" placeholder="Question"
             [ngModelOptions]="{standalone: true}" name="question">

      <li class="cl-list-item-borderless list-group-item-element-faq" *ngFor="let followup of followups; let i=index">
        <label class="lable-size">Follow Up&nbsp;{{i+1}}: &nbsp;</label>
        {{followup}}
        <!--<textarea [(ngModel)]="followup" type="text" class="form-control" id="faq-followups" placeholder="Follow up"-->
                  <!--[ngModelOptions]="{standalone: true}">-->
          <!--</textarea>-->
      </li>
    </div>
  </form>
  <a class="btn btn-danger  btn-block" (click)="deleteFaq()">Delete FAQ</a>
</div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-left">
      <a routerLink="/search">
      <span class="glyphicon glyphicon glyphicon-home color-black">
      </span>
      </a>
    </div>
    <p class="navbar-text pull-right">
      <a routerLink="/faq" class="navbar-link">Frequently asked Question
        <!--<span class="glyphicon glyphicon-user"></span>-->
      </a>
      <a routerLink="/profile" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>


  </div>
</nav>
