<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row">
    <div class="col-xs-1 col-sm-4">
      <div class="container-fluid row">
        <div class="col-sm-2 col-xs-12">
          <p class="navbar-text pull-left">
            <a routerLink=".." class="navbar-link cl-text-white">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
          </p >
        </div>
        <div class="col-xs-10 hidden-xs">
          <a class="cl-text-white navbar-brand cl-text-bold cl-icon-padding" routerLink="/rst/new">
            Your Restaurants
          </a >
          <a routerLink="/rst/new" class="navbar-link navbar-text pull-right cl-text-white">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-11 col-sm-8">
      <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" routerLink="/rst/new">
          New Restaurant
        </a>
        <a (click)="createRst()" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="showcase-rst">
  <div class="container-box-blog">
    <div class="scrollBody scroll-body">
      <div class="container-position">
        <div class="col-xs-4 hidden-xs">
          <ul class="list-group cl-list-group-borderless" *ngFor="let rst of rsts">
            <li class="list-group-item-element cl-list-item-borderless">
              <a class="cl-left-padding text-font" routerLink="/rst/{{rst._id}}/page">{{rst.name}}</a>
              <a class="pull-right" routerLink="/rst/{{rst._id}}">
                <i class="glyphicon glyphicon-cog text-primary text-font"></i>
              </a>
            </li>
          </ul>
        </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 borders">
    <form>
      <div class="form-group cl-8-top">
        <label for="website-name">Name</label>
        <input [(ngModel)]="rst.name" type="text" class="form-control" id="website-name" placeholder="Name"
               [ngModelOptions]="{standalone: true}">
      </div>
      <!--<div class="form-group cl-8-top">-->
        <!--<label for="website-category">Category</label>-->
        <!--<input [(ngModel)]="rst.category" id="website-category" class="form-control" placeholder="Category"-->
                  <!--[ngModelOptions]="{standalone: true}">-->
      <!--</div>-->
      <div class="form-group cl-8-top">
        <label for="website-content">Content</label>
        <textarea [(ngModel)]="rst.content" id="website-content" class="form-control" rows="5" placeholder="Content"
                  [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <!--<div class="form-group cl-8-top">-->
        <!--<label for="website-location">Location</label>-->
        <!--<input [(ngModel)]="rst.location" id="website-location" class="form-control" placeholder="Location"-->
                  <!--[ngModelOptions]="{standalone: true}">-->
      <!--</div>-->
      <div class="form-group cl-8-top">
        <label for="website-price">Price</label>
        <input [(ngModel)]="rst.price" id="website-price" class="form-control" placeholder="Price"
               [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group cl-8-top">
        <label for="website-image">Image URL</label>
        <input [(ngModel)]="rst.image_url" id="website-image" class="form-control" placeholder="Image URL"
               [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group cl-8-top">
        <label for="exampleInputFile">Upload</label>
        <input type="file" class="form-control" id="exampleInputFile">
      </div>

    </form>
  </div>
</div>
  </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-left">
      <a routerLink="/search">
      <span class="glyphicon glyphicon glyphicon-home color-black">
      </span>
      </a>
    </div>
    <p class="navbar-text pull-right">
      <a routerLink="/faq" class="navbar-link">Frequently asked Question
        <!--<span class="glyphicon glyphicon-user"></span>-->
      </a>
      <a routerLink="/profile" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>


  </div>
</nav>
