<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink=".." class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a (click)="createBlog(newBlog)" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" routerLink="/blog/new">
      New Blog
    </a>
  </div>
</nav>

<div class="showcase-blog">
  <div class="container-box-blog">
    <div class="scrollBody scroll-body">
<!--<div class="container move-blog">-->
  <form>
    <div class="form-move">
    <div class="form-group">
      <label for="blog-title">Title</label>
      <input [(ngModel)]="newBlog.title" type="text" class="form-control" id="blog-title" placeholder="Title"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div *ngIf="errFlag" class="alert alert-danger">
      {{errMsg}}
    </div>
    <div class="form-group">
      <label for="blog-content">Content</label>
      <textarea [(ngModel)]="newBlog.content" type="text" class="form-control" rows="10" id="blog-content" placeholder="Content"
                [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <div class="form-group">
      <label for="blog-rating">Rating</label>
      <input [(ngModel)]="newBlog.rating" type="number" class="form-control" id="blog-rating" placeholder="Rating"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="blog-image">Image URL</label>
      <input [(ngModel)]="newBlog.image_urls" id="blog-image" class="form-control" placeholder="Image URL"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">Upload</label>
      <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control"  id="exampleInputFile"/>
        <input  name="widgetId" value="{{blogId}}"   style="display: none"/>
        <input  name="userId" value="{{user._id}}"   style="display: none"/>
        <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
        <br/>
      </form>
    </div>
    <!--<div class="form-group">-->
      <!--<label for="exampleInputFile">Browse Image</label>-->
      <!--<input type="file" class="form-control" id="exampleInputFile">-->
    </div>
  </form>

</div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-left">
      <a routerLink="/search">
      <span class="glyphicon glyphicon glyphicon-home color-black">
      </span>
      </a>
    </div>
    <p class="navbar-text pull-right">
      <a routerLink="/faq" class="navbar-link">Frequently asked Question
        <!--<span class="glyphicon glyphicon-user"></span>-->
      </a>
      <a routerLink="/profile" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>


  </div>
</nav>
